

div#splash
    height 100%
    padding-top 3rem
    padding-bottom 1rem
    text-align center
    background-color $bam-blue
    color $white

    #mainbam
        height 40rem

    h1
        font-size 7rem
        line-height 7rem
        font-weight 600
        letter-spacing 8px
        col(1)
        text-align center
        margin 2rem 0 2rem 0
