
<footer>

    <div class='icons'>
        <a href='http://facebook.com/mitlogs' target="_blank">
            <i class='fa fa-facebook fa-2x'></i>
        </a>
        <a href='http://instagram.com/mitlogs' target='_blank'>
            <i class='fa fa-instagram fa-2x'></i>
        </a>
        <a href='http://youtube.com/mitlogs' target='_blank'>
            <i class='fa fa-youtube fa-2x'></i>
        </a>
        <a href='mailto:logs@mit.edu' target='_blank'>
            <i class='fa fa-envelope fa-2x'></i>
        </a>
    </div>

    <p class='copyright'>&#169; 2016 MIT Logarhythms</p>

</footer>
